<div class="find-us-container">
    <div class="find-us-headline">
        <h2>FIND US</h2>
        <div class="find-us-subheadline">
            <img src="./assets/img/4_section_find_us_at/PNG/map_marker.png" alt="map-marker">
            <p>Im Kleifeld 16, Bad Bodenteich 29389</p>
        </div>
    </div>
    <div class="find-us-location" style="width: 100%; margin-bottom: 8px;">
        <iframe 
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4820.5392990522505!2d10.671129176942689!3d52.835526012821056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47afcdcff0bcf323%3A0xea793eb5a72bc945!2sIm%20Kleifeld%2016%2C%2029389%20Bad%20Bodenteich!5e0!3m2!1sde!2sde!4v1732567793410!5m2!1sde!2sde" 
  style="border:0; width: 100%; height: 800px;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
    </div>
</div>