<div class="header-container">
    <div class="header-content">
        <div class="header-logo">
            <img src="./assets/img/1_hero/PNG/sakura_logo.png" alt="">
            <img (click)="useLanguage('de')" class="translate" src="./assets/img/6_translate/german.png" alt="">
            <img (click)="useLanguage('en')" class="translate" src="./assets/img/6_translate/english.png" alt="">
        </div>
        <div class="header-nav">
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">About</a>
            <button><img src="./assets/img/1_hero/PNG/phone.png" alt="">0151/435261</button>
        </div>
    </div>