.header-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1840px;

    .header-logo {
        display: flex;
        gap: 8px;

        img {
            width: 64px;
            height: 64px;
        }

        .translate {
            display: flex;

            img {
                border-radius: 100%;
                border: 3px solid whitesmoke;
                transition: z-index 0.3s;
            }

            img.active {
                z-index: 10;
            }
        }
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        a {
            text-decoration: none;
            color: whitesmoke;
            font-family: raleway;
            font-size: 24px;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            border: 2px solid whitesmoke;
            border-radius: 8px;
            color: whitesmoke;
            font-size: 24px;
            font-family: raleway;
            gap: 8px;
            cursor: pointer;
        }

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.burger-menu {
    display: none;
    font-size: 64px;
    cursor: pointer;
  }

@media (max-width: 1880px) {
    .header-content {
        padding: 0 16px;
    }
}

@media (max-width: 800px) {
    .header-content {
        .header-nav {
            display: none;
            flex-direction: column;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            position: absolute;
            top: 112px;
            left: 0;
            padding: 16px 0;
        }

        .burger-menu {
            display: block;
        }

        .header-nav.open {
            display: flex !important;
        }
    }
}